Package: com.lordvcam.avservicesd
Name: SupperCamera
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Virtual camera - Dopamine 2 (roothide)
Maintainer: LordVCAM <https://t.me/SupperCamera>
Author: LordVCAM <https://t.me/SupperCamera>
Section: Tweaks
Depends: mobilesubstrate | ellekit | libhooker | substitute
