Package: com.lordvcam.avservicesd
Name: SupperCamera
Version: 1.0.0
Architecture: iphoneos-arm64
Description: SupperCamera vcam.
Maintainer: LordVCAM <https://t.me/SupperCamera>
Author: LordVCAM <https://t.me/SupperCamera>
Section: Tweaks
Depends: mobilesubstrate | ellekit, firmware (>= 15.0)
